global:
  scrape_interval: 30s
  evaluation_interval: 30s

rule_files:
  - "alert.rules"

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: mqtt
    static_configs:
      - targets: ["mosquitto-exporter:9234"]

  - job_name: mqtt-exporter
    static_configs:
      - targets: ["mqtt-exporter:9000"]

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - 'alertmanager:9093'
